{
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures":{
      "experimentalObjectRestSpread":true
    }
  }
}